<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
        <div id="nav-logo">
          <img src="{{ url_for('static', filename='image.png') }}" />
        </div>
        <div class="nav-searchbox">
          <input
            type="text"
            placeholder="Search For Product Category  e.g, Electronics"
          />
          <div id="search-icon" class="searchicon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div id="container">
          <div class="icons" id="user">
            <i class="fa-solid fa-user"></i>
            <div id="dropdown">
              <a href="/login" id="Login">Login</a>
            </div>
          </div>

          <div class="icons" id="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <h3 id="cart-count">1</h3>
          </div>
        </div>
      </nav>
    </header>
    <div id="fakeheader"></div>
    <main>
      <div id="offerheadeing">
        <p>Get 20% OFF on Every Tuseday and Thusday</p>
      </div>
      <div id="outer">
        <div id="searchbox">
          <input
            type="text"
            placeholder="Search For Category  e.g, Electronics"
          />
          <div id="search-icon-lower" class="searchicon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
      <section id="products"></section>
    </main>
    <footer>
      <h2>E - Commerce API</h2>
      <h1>Build using HTML5, CSS5 and Javacript and Flask Famework</h1>
      <h4>© 2026 All Rights Reserved</h4>
      <h4>~Made by Suraj raturi~</h4>
    </footer>
    <script src="{{ url_for('static', filename='fetch_products.js') }}"></script>
    <script src="{{ url_for('static', filename='dashbaord.js') }}"></script>
  </body>
</html>
